:root {
  --grey: #dce4e4;
  --base-green: #146961;
  --dark-grey: #1c1f1f;
  --dark-green: #0f342b;
  --pale-green: #79b3b4;
}

.App {
  background-color: var(--grey);
}

.Button-container {
  display: flex;
  flex-direction: column;
  width: 100px
}

.Container {
  flex-direction: row;
}
.Text-container {
  margin-left: 20px;
}

.Dash-header {
  background-color: var(--base-green);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  width: 100%
}

.Dashboard {
  margin: 10px;
}
#dropdown {
  background-color: var(--pale-green);
  border-color: var(--pale-green);;
}

#dash-card {
  margin: 20px;
}

