:root {
  /* Colours */
  --grey: #dce4e4;
  --base-green: #146961;
  --dark-grey: #1c1f1f;
  --dark-green: #0f342b;
  --pale-green: #79b3b4;
}

.App {
  background-color: var(--grey);
  height: 100vh;
}

.center-container {
  display: flex;
  justify-content: center;
}



