.App {
  background-color:
          #dce4e4;
}

.Button-container {
  display: flex;
  flex-direction: column;
  width: 100px
}

.Container {
  flex-direction: row;
}

.Dash-header {
  background-color: #106961;
  padding: 20px;
  width: 100%
}

.Dashboard {

}

.Menu-button {
  background-color: #106961;
  border-color: #ffffff;
  padding: 5px;
}

