.dashboard {
    background-color: var(--grey);
    padding: var(--small);
}

#dash-card {
    border-color: var(--dark-green);
    margin-bottom: var(--small);
}

table, thead, tbody, tr {
    display: block;
    width: 100%;
}

tr {
    display: table;
    table-layout: fixed;
}

tbody {
    height: 320px;
    overflow-y: auto;
}

.data-table {
    font-size: 14px;
}

.table-header {
    background-color: var(--base-green);
    color: white;
}

tr:hover {
    background-color: var(--pale-green);
    font-weight: bold;
}